@{
    ViewBag.Title = "Personal menu";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Персональное меню</title>
</head>
<body>
    <h1>Персональное меню</h1>
    <p>
        <div>
            @if (User.IsInRole("admin"))
            {
                <a href="/Product/CreateProduct" class="btn">Добавить товар</a>
            }
        </div>
    </p>
    <p>
        <div>
            <a href="/Product/Index" class="btn">Список товаров</a>
        </div>
    </p>
    <p>
        <div>
            <a href="/Cart/Index" class="btn">Корзина</a>
        </div>
    </p>
</body>
</html>


