
@{
    ViewBag.Title = "AdminMenu";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Персональное меню</title>
</head>
<body>
    <h1>Персональное меню</h1>
    <div>
        @if (User.IsInRole("admin"))
        {
            <a href="/Product/CreateProduct" class="btn">Добавить товар</a>
        }
    </div>
    <div>
        <a href="/Product/ShowProducts" class="btn">Список товаров</a>
    </div>
    <div>
        <a href="/Cart/Index" class="btn">Корзина</a>
    </div>
</body>
</html>


